<style type="text/css">
    /* don't remove. */
    .about-cover {
        height: 75vh;
    }
</style>

<%- partial('_partial/bg-cover') %>

<main class="content">
    <div id="aboutme" class="container about-container">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="post-statis col l4 hide-on-med-and-down" data-aos="zoom-in-right">
                        <%- partial('_partial/post-statis') %>
                    </div>
                    <div class="col s12 m12 l4">
                        <div class="profile center-align">
                            <div class="avatar">
                                <img src="<%- theme.profile.avatar %>" alt="<%- config.author %>"
                                    class="circle responsive-img avatar-img">
                            </div>
                            <div class="author">

                                <div class="title"><%- config.author %></div>
                                <div class="career"><%- theme.profile.career %></div>

                            </div>
                        </div>
                    </div>

                </div>

                <% if (theme.music && theme.music.enable) { %>
                <%- partial('_widget/music') %>
                <% } %>

                <% if (theme.video && theme.video.enable) { %>
                <%- partial('_widget/video') %>
                <% } %>

                <% if (theme.myGallery && theme.myGallery.enable) { %>
                <%- partial('_widget/my-gallery') %>
                <% } %>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="card-content article-card-content">
                        <div class="title center-align" data-aos="zoom-in-up">
                            <i class="fa fa-address-book"></i>&nbsp;&nbsp;<%- __('myCV') %>
                        </div>
                        <div id="articleContent" data-aos="fade-up">
                            <%- page.content %>
                        </div>
                </div>
            </div>
        </div>


    </div>
</main>